

<div class="text-center">
    <a href="/Admin/BigPara" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">BigPara</a>
    <a href="/Admin/News" class="btn btn-success btn-lg active" role="button" aria-pressed="true">News</a>
    <a href="/Admin/Adv" class="btn btn-warning btn-lg active" role="button" aria-pressed="true">Advertorial</a>
</div>