<button class="btn btn-success" id="getNews">News Getir - Ajax</button>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<div id="dvItems">
    <table id="Table" class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Title
                </th>
                <th>
                    Text
                </th>
                <th>
                    ImageName
                </th>
                <th>
                    Image
                </th>
                <th>
                    Link
                </th>
                <th>
                    Date
                </th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/NewsAjax.js">

    </script>
}
