@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Tabloları görmek için tıklayınız..</h3>
    <a href="/BigPara/BigPara" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">BigPara</a>
    <a href="/News/News" class="btn btn-success btn-lg active" role="button" aria-pressed="true">News</a>
    <a href="/Adv/Adv" class="btn btn-warning btn-lg active" role="button" aria-pressed="true">Advertorial</a>
</div>
